<div class="underhead">
<h1 class="pageid">Users</h1>
<table class="logtable">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <body>
    {{#each users}}
    <tr>
      <td>{{userID}}</td>
      <td>{{fName}}</td>
      <td>{{lName}}</td>
      <td>{{email}}</td>
      <td>{{password}}</td>
    </tr>
    {{/each}}
  </table>
  <form class = "logtable" action="/users" method="post">
    <input type="text" placeholder="First Name" name = "fname" class="lift-entry">
    <input type="text" placeholder="Last Name" name = "lname" class="lift-entry">
    <input type="text" placeholder="Email" name = "email" class="lift-entry">
    <input type="text" placeholder="Password" name = "password" class="lift-entry">
    <input type="submit" value="Add User">
  </form>
  </body>
</div>
